<source>
  @type systemd
  tag consul-cluster
  path /run/log/journal
  matches [{ "_SYSTEMD_UNIT": "consul.service" }]
  <storage>
    @type local
    persistent false
    path consul-cluster.pos
  </storage>
  <entry>
    fields_strip_underscores true
    fields_lowercase true
  </entry>
</source>

## - add hostname key based on chef metadata
<filter consul-cluster>
  @type record_transformer
  <record>
<%= render "partial_default_record_attributes.erb" %>
  </record>
</filter>

<match consul-cluster>
  @type copy
<%= render "partial_stackdriver.erb" %>
  <% if node['gitlab_fluentd']['pubsub_enable'] -%>
  <store>
    @type cloud_pubsub
    topic pubsub-consul-inf-<%= node['gitlab_fluentd']['pubsub_env'] %>
    project <%= node['gitlab_fluentd']['pubsub_project'] %>
    <% if node['gitlab_fluentd']['pubsub_key'] -%>
    key <%= node['gitlab_fluentd']['pubsub_file'] %>
    <% end -%>
  </store>
  <% end -%>

  @include ../prometheus-mixin.conf
</match>
