# consul
<source>
  @type tail
  tag consul-client
  path /var/log/gitlab/consul/current
  pos_file /var/log/fluent/consul.log.pos
  format /(?<time>[^ ]* [^ ]*) \[(?<consul_level>.*)\] (?<consul_message>.*)/
  time_format %Y/%m/%d %H:%M:%S
</source>

## - add hostname key based on chef metadata
<filter consul-client>
  @type record_transformer
  <record>
<%= render "partial_default_record_attributes.erb" %>
  </record>
</filter>

<match consul-client>
  @type copy
<%= render "partial_stackdriver.erb" %>
  <% if node['gitlab_fluentd']['pubsub_enable'] -%>
  <store>
    @type cloud_pubsub
    topic pubsub-consul-inf-<%= node['gitlab_fluentd']['pubsub_env'] %>
    project <%= node['gitlab_fluentd']['pubsub_project'] %>
    <% if node['gitlab_fluentd']['pubsub_key'] -%>
    key <%= node['gitlab_fluentd']['pubsub_file'] %>
    <% end -%>
  </store>
  <% end -%>

  @include ../prometheus-mixin.conf
</match>
