<% if node['gitlab_fluentd']['stackdriver_enable'] -%>
<% flush_interval = @flush_interval || node['gitlab_fluentd']['flush_interval'] %>
  <store>
    @type google_cloud
    label_map {
      "tag": "tag"
    }
    buffer_chunk_limit <%= node['gitlab_fluentd']['buffer_chunk_limit'] %>
    buffer_queue_limit <%= node['gitlab_fluentd']['buffer_queue_limit'] %>
    flush_interval <%= flush_interval %>
    log_level <%= node['gitlab_fluentd']['log_level'] %>
    <% if node['gitlab_fluentd']['google_cloud_monitoring'] -%>
    enable_monitoring true
    monitoring_type prometheus
    <% end -%>
    <% if node['gitlab_fluentd']['pubsub_key'] -%>
    use_metadata_service false
    vm_name <%= node['fqdn'] %>
    vm_id <%= node['fqdn'] %>
    zone us-east
    <% end -%>
  </store>
<% end -%>
