<source>
  @type systemd
  tag runner
  path /var/log/journal
  matches [{ "_SYSTEMD_UNIT": "gitlab-runner.service" }]
  <storage>
    @type local
    persistent false
    path /var/log/fluent/gitlab-var-log-runner.pos
  </storage>
  <entry>
    # strip leading underscores from all non-mapped fields
    fields_strip_underscores true
    # lowercase all non-mapped fields
    fields_lowercase true
  </entry>
</source>

<source>
  @type systemd
  tag runner
  path /run/log/journal
  matches [{ "_SYSTEMD_UNIT": "gitlab-runner.service" }]
  <storage>
    @type local
    persistent false
    path /var/log/fluent/gitlab-runner.pos
  </storage>
  <entry>
    # strip leading underscores from all non-mapped fields
    fields_strip_underscores true
    # lowercase all non-mapped fields
    fields_lowercase true
  </entry>
</source>

<filter runner>
  @type parser
  key_name message
  format json
</filter>

<filter runner>
  @type record_transformer
  <record>
<%= render "partial_default_record_attributes.erb" %>
  </record>
</filter>

<match runner>
  @type copy
<%= render "partial_stackdriver.erb" %>
  <% if node['gitlab_fluentd']['pubsub_enable'] -%>
  <store>
    @type cloud_pubsub
    topic pubsub-runner-inf-<%= node['gitlab_fluentd']['pubsub_env'] %>
    project <%= node['gitlab_fluentd']['pubsub_project'] %>
    <% if node['gitlab_fluentd']['pubsub_key'] -%>
    key <%= node['gitlab_fluentd']['pubsub_file'] %>
    <% end -%>
  </store>
  <% end -%>

  @include ../prometheus-mixin.conf
</match>
