[Service]
Environment="PATH=/opt/fluent/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment='FLUENT_PACKAGE_OPTIONS=--gemfile=<%= node['gitlab_fluentd']['gemfile'] %> --gem-path=<%= node['gitlab_fluentd']['gem_path'] %> --plugin=<%= node['gitlab_fluentd']['plugin_path'] %>'
User=root
Group=root
TimeoutSec=1800
<% if node['gitlab_fluentd']['pubsub_key'] -%>
Environment=GOOGLE_APPLICATION_CREDENTIALS=/etc/fluent/pubsub-gcp-key.json
<% end -%>
EnvironmentFile=/etc/fluent/fluentd.environment
PassEnvironment=FLUENTD_POSTGRES_INPUT_USERNAME FLUENTD_POSTGRES_INPUT_PASSWORD
MemoryLimit=<%= node['gitlab_fluentd']['td-agent']['memory_limit'] %>
