
<source>
  @type tail
  path <%= node['gitlab_fluentd']['wiz_linux_sensor_results_paths'] %>
  pos_file /var/log/fluent/wiz-linux-sensor-result.pos
  tag wiz.publish
  <parse>
    @type json
  </parse>
</source>

<match wiz.publish>
  @type copy
<%= render "partial_stackdriver.erb" %>
  <% if node['gitlab_fluentd']['pubsub_enable'] -%>
  <store>
    @type cloud_pubsub
    project <%= node['gitlab_fluentd']['pubsub_project'] %>
    topic pubsub-system-inf-<%= node['gitlab_fluentd']['pubsub_env'] %>
    <% if node['gitlab_fluentd']['pubsub_key'] -%>
    key <%= node['gitlab_fluentd']['pubsub_file'] %>
    <% end -%>
  </store>
  <% end -%>

  @include ../prometheus-mixin.conf
</match>
